/*******************************************************************************
 * Laboration 2, Kurs: DT146G
 * File: style.css
 * Desc: Style sheets for laboration 2
 * 
 * Bernard Che Longho
 * lobe1602
 * lobe1602@student.miun.se
 * Created    : 2017-11-23
 * Last edited: 2017-11-25
 ******************************************************************************/
/* MEYER'S RESET
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, label {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* END RESET */

html {
    margin: auto;
    max-width: 960px;
    background: #EAEAEA;
}

body {
    position: relative;
    background: #FFFFFF;
    border: thin solid #c7c7c7;
    box-shadow: -5px 5px 25px black;
    border-radius: 5px;
    width: 90%;
    margin: 2% auto;
    font: normal 10pt/1em arial, Helvetica, sans-serif;
}

/*
    style header
 */

/*
 image download link: https://www.pixeden.com/graphic-web-backgrounds/subtle-light-tile-pattern-vol5
 */
/*
    Style logo and slogan
*/
#page_header {
    position: relative;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    margin: 2%;
    height: 100px;
    width: auto;
    background-color: aliceblue;
}

#slogan {
    position: relative;
    margin-left: 70px;
    margin-top: -50px;
    padding-left: 5px;
    font: italic 120% Verdana, serif;
}

/*
    Style menu (inline-block)
*/
#main_menu {
    position: relative;
    margin-top: 35px;
}

#main_menu li {
    color: white;
    border: 1px solid #e1d141;
    width: auto;
    margin: -2px 10px 10px 0;
    border-radius: 2px;
    align-items: center;
    display: inline-block;
}

#main_menu a:link a:visited {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#main_menu a:visited {
    color: maroon;
    border: 1px solid lightgreen;

}

#main_content {
    background: #E59866 url("../img/airplane_background.png") repeat;
    font: normal 120%/1.5em Helvetica, sans-serif;
    margin: 2%;
    text-align: justify;
}

#main_menu a:hover, a:active {
    background-color: lightblue;
    color: black;
}

/*
   footer style
   */
footer {
    background-color: lightgray;
    border-top: 1px solid black;
    margin: 2%;
    padding: 1em 0;
}

h1 {
    font: bold 160%/2em Helvetica, sans-serif;
}

h2 {
    font: bold 140%/2em Helvetica, sans-serif;
}

h3 {
    font: bold 120%/2em Helvetica, sans-serif;
}

/*
    Style forms
 */
form {
    width: 100%;
}

label {
    font-weight: bold;
    line-height: 2em;
}

fieldset {
    width: auto;
    background: inherit;
    border: 2px dotted black;
    margin-bottom: 10px;
}

fieldset legend {
    text-align: center;
    font-weight: bold;
}

textarea {
    width: 360px;
    height: 50px;
}

/*Adding some interactivity in the form*/
label:hover, input:hover, textarea, select, option {
    font-size: 120%;
}

input:focus {
    cursor: text;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

#main_passenger {
    font-weight: bold;
}

/*
    MEDIA QUERIES
 */
@media print {
    * {
        background-color: white;
        font-family: 'Times New Roman', serif;
    }

    input:valid, input:invalid {
        border: thin solid black;
    }

    #hide_big_screen {
        display: none;
    }

    /*
        Remove all place holders in print
        Source:
        https://goo.gl/A2v3Xc
       */
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }

    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }

    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }

    a {
        color: black;
        text-decoration: underline;
    }

    a:hover, a:visited, a:active, a:focus, a:link {
        color: black;
    }
}

@media screen and (min-width: 1024px) {
    #hide_big_screen {
        display: none;
    }

    .addresses {
        background-color: green;
    }
}

@media screen and (min-width: 480px) and (max-width: 1023px) {

    #hide_big_screen {
        display: none;
    }

    .addresses {
        background-color: blue;
        color: white;
    }

    a {
        color: red;
    }
}

@media screen and (max-width: 479px) {

    .addresses {
        background-color: red;
        color: white;
    }

    #main_menu {
        background-color: cadetblue;
    }

    nav {
        font-weight: bold;
        color: white;
        border: 2px solid #e1d141;
        border-radius: 10px;
        text-align: center;
        width: 10em;
        background-color: royalblue;
    }

    nav ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav:hover ul {
        display: block;
    }

    nav ul li {
        border-top: 2px solid royalblue;
        background-color: white;
        width: auto;
        color: black;
    }

    nav ul li:hover {
        background-color: powderblue;
    }

    /*    #main_menu {
            position: relative;
            float: right;

        }

        nav ul {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav:hover ul {
            display: block;
        }

        nav ul li {
            border-top: 2px solid royalblue;
            background-color: white;
            width: auto;
            color: black;
        }

        nav ul li:hover {
            background-color: powderblue;
        }

        a {
            text-decoration: none;
            display: block;
        }

        #main_content p {
            line-height: 1.5em;
            text-align: justify;
        }*/
    label:hover, input:hover, textarea, select, option {
        font-size: 100%;
    }

    textarea {
        width: 250px;
        height: 50px;
    }

    #slogan {
        font: italic 100% Verdana, serif;
    }

    #page_header {
        height: 80px;
        width: auto;
    }

    img#logo {
        height: 60px;
        width: auto;
    }

    h1 {
        font: bold 120%/1em Helvetica, sans-serif;
    }

    h2 {
        font: bold 110%/1em Helvetica, sans-serif;
    }

    h3 {
        font: bold 100%/2em Helvetica, sans-serif;
    }

    footer p:first-of-type {
        display: none;
    }

    footer {
        font-size: 90%;
    }
}




